* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Abril Fatface", serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
section {
  padding-inline: 4rem;
  padding-block: 2rem;
}

.scrolled {
  background-color: white;
}

.active {
  color: brown;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 1rem;
  }
  .nav-link {
    display: none;
  }
}
