---
import { Image } from "astro:assets";
import img from "../assets/img/5.png";
import "../styles/global.css";
import Layout from "../layout/layout.astro";
import MediaLinks from "../components/MediaLinks.astro";
import MaskedImage from "../components/MaskedImage.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <section class="landing">
    <div class="box">
      <div class="left">
        <h1>Kiran Gupta</h1>
        <!-- <h2>Chinese Actor</h2> -->
        <p>
          I want to be part of the success in an environment of growth and
          excellence. Also, emphasize my eagerness to learn, willingness to
          contribute, and desire to gain valuable experience in the industry.
        </p>
        <div class="links">
          <MediaLinks />
        </div>
        <a
          href="https://docs.google.com/document/d/10iZ0DyP-vIhoYpa1Adje4nzWLeT-G7pt/edit"
          target="_blank"
          class="resume">Resume</a
        >
      </div>
      <figure class="right">
        <MaskedImage>
          <Image src={img} alt="cover" format="avif" />
        </MaskedImage>
      </figure>
    </div>
  </section>
  <!-- experience -->
  <Experience />
  <!-- projects -->
  <Projects />
</Layout>
<style>
  .landing {
    height: 100dvh;
  }

  .box {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .box > * {
    flex: 1;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.6rem;
  }
  .left h1 {
    font-size: clamp(2rem, 15vw, 5rem);
  }
  .left h1 > span {
    font-size: 0.3em;
  }
  .left h2 {
    font-size: clamp(2rem, 10vw, 2rem);
  }
  .left > p {
    line-height: 1.4rem;
    text-align: center;
  }
  .links {
    margin-block: 1.2rem;
  }
  .resume {
    border: 1px solid black;
    color: black;
    padding: 0.4rem 1rem;
    transition: 0.2s linear;
    border-radius: 2px;
  }
  .resume:hover {
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-10px);
  }

  .right {
    display: flex;
    justify-content: space-around;
    align-items: end;
  }
  .right img {
    width: 90%;
    height: auto;
  }

  @media only screen and (max-width: 786px) {
    .landing {
      height: auto;
    }
    .box {
      flex-direction: column-reverse;
    }
    .right {
      padding: 2rem;
    }
    .right img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .links {
      margin-top: 1rem;
      gap: 1rem;
    }
  }
</style>
