---
import { Image } from "astro:assets";
import img from "../assets/img/5.png";
import "../styles/global.css";
import DivShade from "../components/DivShade.astro";
import Layout from "../layout/layout.astro";
import MediaLinks from "../components/MediaLinks.astro";
import MaskedImage from "../components/MaskedImage.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <section class="landing">
    <div class="box">
      <div class="left">
        <h1>Kiran Gupta</h1>
        <!-- <h2>Chinese Actor</h2> -->
        <p>
          I want to be part of the success in an environment of growth and
          excellence. Also, emphasize my eagerness to learn, willingness to
          contribute, and desire to gain valuable experience in the industry.
        </p>
        <div class="links">
          <MediaLinks />
        </div>
      </div>
      <figure class="right">
        <MaskedImage>
          <Image src={img} alt="cover" format="avif" />
        </MaskedImage>
      </figure>
    </div>
  </section>
  <!-- experience -->
  <Experience />
  <!-- projects -->
  <Projects />
</Layout>
<style>
  .landing {
    height: 100dvh;
  }

  .box {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .box > * {
    flex: 1;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.6rem;
  }
  .left h1 {
    font-size: clamp(2rem, 15vw, 5rem);
  }
  .left h1 > span {
    font-size: 0.3em;
  }
  .left h2 {
    font-size: clamp(2rem, 10vw, 2rem);
  }
  .left > p {
    line-height: 1.4rem;
    text-align: center;
  }
  .links {
    margin-top: 2rem;
  }

  .right {
    display: flex;
    justify-content: space-around;
    align-items: end;
  }
  .right img {
    width: 90%;
    height: auto;
  }

  @media only screen and (max-width: 786px) {
    .landing {
      height: auto;
    }
    .box {
      flex-direction: column-reverse;
    }
    .right {
      padding: 2rem;
    }
    .right img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .links {
      margin-top: 1rem;
      gap: 1rem;
    }
  }
</style>
