---
import { Icon } from "astro-icon/components";
---

<ul class="media-links">
  <!-- <li><a href="#"><Icon name="mdi:facebook" target="_blank"/> Facebook</a></li> -->
  <li>
    <a href="https://www.instagram.com/sosoalive7" target="_blank"
      ><Icon name="mdi:github" /> Github</a
    >
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/kiran-gupta-77128b24b/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
      target="_blank"><Icon name="mdi:linkedin" /> Linkedin</a
    >
  </li>
  <li>
    <a href="https://weibo.cn/u/2931958713" target="_blank"
      ><Icon name="mdi:twitter" /> Twitter</a
    >
  </li>
</ul>

<style>
  .media-links {
    padding: 0.4rem;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center;
    gap: 1rem;

    /* transform: translateX(-50%); */
    /* transform-origin: left top;
    transform: translateX(-50%);
    rotate: 270deg; */
  }
  .media-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: inherit;
    transition: 0.2s ease-in-out;
  }
  .media-links a:hover {
    color: brown;
    transform: translateX(-5px);
  }
</style>
