---
import About from "../components/About.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kiran Gupta</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins"
    />
    <script>
      import "../scripts/main.js";
    </script>
  </head>
  <body>
    <About />
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
